In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
#URL 가져오기 200은 성공이라는 뜻
url = 'https://m.stock.naver.com/marketindex/index.nhn'
response = requests.get(url)
response

In [7]:
#Soup 객체 생성
soup = BeautifulSoup(response.text, 'html.parser')

In [11]:
#원하는 데이터 추출 - 국가
country = []
country_1 = soup.findAll('strong')
country_2 = soup.findAll('span', {'class':'stock_item'})
for c in country_1:
    country.append(c.text)
for c in country_2:
    country.append(c.text)
country.remove('증권')
country

['미국USD',
 '유럽EUR',
 '일본JPY',
 '중국CNY',
 '국제금',
 '유가WTI',
 '코스콤',
 '에프앤가이드',
 '레피니티브',
 '이데일리',
 '모닝스타',
 '제로인',
 '한국예탁결제원',
 'IR큐더스',
 '지속가능발전소',
 '달러인덱스',
 '남아프리카 ZAR',
 '노르웨이 NOK',
 '뉴질랜드 NZD',
 '대만 TWD',
 '덴마크 DKK',
 '러시아 RUB',
 '말레이지아 MYR',
 '멕시코 MXN',
 '몽골 MNT',
 '미국 USD',
 '바레인 BHD',
 '방글라데시 BDT',
 '베트남 VND 100',
 '브라질 BRL',
 '브루나이 BND',
 '사우디 SAR',
 '스웨덴 SEK',
 '스위스 CHF',
 '싱가포르 SGD',
 '아랍에미 AED',
 '영국 GBP',
 '오만 OMR',
 '요르단 JOD',
 '유럽연합 EUR',
 '이스라엘 ILS',
 '이집트 EGP',
 '인도 INR',
 '인도네시아 IDR',
 '일본 JPY 100',
 '중국원화 CNY',
 '체코 CZK',
 '칠레 CLP',
 '카자흐스탄 KZT',
 '카타르 QAR',
 '캐나다 CAD',
 '쿠웨이트 KWD',
 '태국 THB',
 '터키 TRY',
 '파키스탄 PKR',
 '폴란드 PLN',
 '필리핀 PHP',
 '헝가리 HUF',
 '호주 AUD',
 '홍콩 HKD']

In [13]:
#원하는 데이터 추출 - 환율정보
price = []
price_0 = soup.findAll('span', {"class":"stock_price"})
for p in price_0:
    price.append(p.text)

price

['1,144.00',
 '1,343.51',
 '1,086.47',
 '170.28',
 '1,901.30',
 '41.04',
 '93.36',
 '68.87',
 '123.49',
 '759.27',
 '39.82',
 '180.50',
 '14.69',
 '275.83',
 '53.43',
 '0.40',
 '1,144.00',
 '3,034.00',
 '13.49',
 '4.94',
 '204.57',
 '842.42',
 '304.98',
 '129.42',
 '1,252.46',
 '842.42',
 '311.45',
 '1,486.97',
 '2,971.43',
 '1,613.54',
 '1,343.51',
 '338.29',
 '72.87',
 '15.61',
 '7.81',
 '1,086.47',
 '170.28',
 '49.27',
 '1.43',
 '2.67',
 '314.20',
 '869.37',
 '3,737.58',
 '36.71',
 '144.72',
 '7.02',
 '296.87',
 '23.50',
 '3.70',
 '814.53',
 '147.61']

In [19]:
#데이터 정렬, (pandas)
import pandas as pd
data = {}
sum = 0
for i in range(len(price)):
    data[country[i]]=price[i]
pd.Series(data)

미국USD          1,144.00
유럽EUR          1,343.51
일본JPY          1,086.47
중국CNY            170.28
국제금            1,901.30
유가WTI             41.04
코스콤               93.36
에프앤가이드            68.87
레피니티브            123.49
이데일리             759.27
모닝스타              39.82
제로인              180.50
한국예탁결제원           14.69
IR큐더스            275.83
지속가능발전소           53.43
달러인덱스              0.40
남아프리카 ZAR      1,144.00
노르웨이 NOK       3,034.00
뉴질랜드 NZD          13.49
대만 TWD             4.94
덴마크 DKK          204.57
러시아 RUB          842.42
말레이지아 MYR        304.98
멕시코 MXN          129.42
몽골 MNT         1,252.46
미국 USD           842.42
바레인 BHD          311.45
방글라데시 BDT      1,486.97
베트남 VND 100    2,971.43
브라질 BRL        1,613.54
브루나이 BND       1,343.51
사우디 SAR          338.29
스웨덴 SEK           72.87
스위스 CHF           15.61
싱가포르 SGD           7.81
아랍에미 AED       1,086.47
영국 GBP           170.28
오만 OMR            49.27
요르단 JOD            1.43
유럽연합 EUR           2.67
이스라엘 ILS         314.20
이집트 EGP          869.37
인도 INR         3,737.58
인도네시아 IDR         36.71
일본 JPY 100       144.72
중국원화 CNY           7.02
체코 CZK           296.87
칠레 CLP            23.50
카자흐스탄 KZT          3.70
카타르 QAR          814.53
캐나다 CAD          147.61
dtype: object

In [27]:
index_exchange = pd.DataFrame(country)
index_exchange

              0
0         미국USD
1         유럽EUR
2         일본JPY
3         중국CNY
4           국제금
5         유가WTI
6           코스콤
7        에프앤가이드
8         레피니티브
9          이데일리
10         모닝스타
11          제로인
12      한국예탁결제원
13        IR큐더스
14      지속가능발전소
15        달러인덱스
16    남아프리카 ZAR
17     노르웨이 NOK
18     뉴질랜드 NZD
19       대만 TWD
20      덴마크 DKK
21      러시아 RUB
22    말레이지아 MYR
23      멕시코 MXN
24       몽골 MNT
25       미국 USD
26      바레인 BHD
27    방글라데시 BDT
28  베트남 VND 100
29      브라질 BRL
30     브루나이 BND
31      사우디 SAR
32      스웨덴 SEK
33      스위스 CHF
34     싱가포르 SGD
35     아랍에미 AED
36       영국 GBP
37       오만 OMR
38      요르단 JOD
39     유럽연합 EUR
40     이스라엘 ILS
41      이집트 EGP
42       인도 INR
43    인도네시아 IDR
44   일본 JPY 100
45     중국원화 CNY
46       체코 CZK
47       칠레 CLP
48    카자흐스탄 KZT
49      카타르 QAR
50      캐나다 CAD
51     쿠웨이트 KWD
52       태국 THB
53       터키 TRY
54     파키스탄 PKR
55      폴란드 PLN
56      필리핀 PHP
57      헝가리 HUF
58       호주 AUD
59       홍콩 HKD

In [29]:
index_exchange2 = pd.DataFrame(price)
index_exchange2

           0
0   1,144.00
1   1,343.51
2   1,086.47
3     170.28
4   1,901.30
5      41.04
6      93.36
7      68.87
8     123.49
9     759.27
10     39.82
11    180.50
12     14.69
13    275.83
14     53.43
15      0.40
16  1,144.00
17  3,034.00
18     13.49
19      4.94
20    204.57
21    842.42
22    304.98
23    129.42
24  1,252.46
25    842.42
26    311.45
27  1,486.97
28  2,971.43
29  1,613.54
30  1,343.51
31    338.29
32     72.87
33     15.61
34      7.81
35  1,086.47
36    170.28
37     49.27
38      1.43
39      2.67
40    314.20
41    869.37
42  3,737.58
43     36.71
44    144.72
45      7.02
46    296.87
47     23.50
48      3.70
49    814.53
50    147.61

In [31]:
result = pd.concat([index_exchange,index_exchange2], axis=1)
result

              0         0
0         미국USD  1,144.00
1         유럽EUR  1,343.51
2         일본JPY  1,086.47
3         중국CNY    170.28
4           국제금  1,901.30
5         유가WTI     41.04
6           코스콤     93.36
7        에프앤가이드     68.87
8         레피니티브    123.49
9          이데일리    759.27
10         모닝스타     39.82
11          제로인    180.50
12      한국예탁결제원     14.69
13        IR큐더스    275.83
14      지속가능발전소     53.43
15        달러인덱스      0.40
16    남아프리카 ZAR  1,144.00
17     노르웨이 NOK  3,034.00
18     뉴질랜드 NZD     13.49
19       대만 TWD      4.94
20      덴마크 DKK    204.57
21      러시아 RUB    842.42
22    말레이지아 MYR    304.98
23      멕시코 MXN    129.42
24       몽골 MNT  1,252.46
25       미국 USD    842.42
26      바레인 BHD    311.45
27    방글라데시 BDT  1,486.97
28  베트남 VND 100  2,971.43
29      브라질 BRL  1,613.54
30     브루나이 BND  1,343.51
31      사우디 SAR    338.29
32      스웨덴 SEK     72.87
33      스위스 CHF     15.61
34     싱가포르 SGD      7.81
35     아랍에미 AED  1,086.47
36       영국 GBP    170.28
37       오만 OMR     49.27
38      요르단 JOD      1.43
39     유럽연합 EUR      2.67
40     이스라엘 ILS    314.20
41      이집트 EGP    869.37
42       인도 INR  3,737.58
43    인도네시아 IDR     36.71
44   일본 JPY 100    144.72
45     중국원화 CNY      7.02
46       체코 CZK    296.87
47       칠레 CLP     23.50
48    카자흐스탄 KZT      3.70
49      카타르 QAR    814.53
50      캐나다 CAD    147.61
51     쿠웨이트 KWD       NaN
52       태국 THB       NaN
53       터키 TRY       NaN
54     파키스탄 PKR       NaN
55      폴란드 PLN       NaN
56      필리핀 PHP       NaN
57      헝가리 HUF       NaN
58       호주 AUD       NaN
59       홍콩 HKD       NaN